<h3><%= @user.name %>'s home on Internet</h3>
<div class="container-fluid gedf-wrapper">
  <div class="row">
    <div class="col-md-3">
      <%= render 'user_info_card', user: @user %>
    </div>
    <div class="col-md-6 gedf-main">
      <div id="posts">
        <%= render partial: 'posts/post', collection: @posts, as: :post %>
      </div>
    </div>
  </div>
</div>