<div class="card gedf-card">
  <div class="card-header">
      <div class="h5 m-0"><%= post.user_name %></div>          
  </div>
  <div class="card-body"> 
    <p class="card-text">
      <%= post.content %>
    </p>
  </div>
</div>